<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aut.android.danielorammicro_bloggingapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.aut.android.danielorammicro_bloggingapp.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FragActivity"
            android:label="maka">

        </activity>
        <service android:name=".RefreshService"
            android:exported="false"
            android:permission="com.marakana.android.yamba.ACCESS">

        </service>
        <provider
            android:authorities="com.marakana.android.yamba.provider"
            android:name=".StatusProvider"
            android:writePermission="com.marakana.android.yamba.ACCESS">

        </provider>
        <receiver android:name=".RefreshReceiver">
            <intent-filter>
                <action android:name="com.marakana.android.yamba.REFRESH_ACTION"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".NewStatusReceiver">
            <intent-filter>
                <action android:name="com.marakana.android.yamba.NEW_STATUS"/>
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.write_external_storage"/>
</manifest>
